<!-- <%- JSON.stringify(computer_builds) %> -->

<% include partials/header %>
<div class="container">
    <table class="table table.table-bordered">
        <thead>
            <tr>
                <th scope="col">Build</th>
                <th scope="col">Component</th>
                <th scope="col">Price</th>
                <!-- <th scope="col">Speed</th> -->
            </tr>
        </thead>
        <tbody>
            <% var currentBuild = -1; %>
            <% var totalScore = 0 %>
            <% computer_builds.forEach((build) => { %>
            <% if (currentBuild != build.build_id) { %>
            <tr>
                <th rowspan="3">
                    <%= build.build_name %>
                </th>
                <% if (build.part_type === 1) { %>
                <td>
                    <%= build.part_name %>
                </td>
                <% } %>
                <th>
                    <%= build.build_price %>
                </th>
                <td>
                    <button class="btn btn-primary" type="submit ">Add</button>
                </td>
            </tr>
            <% currentBuild = build.build_id %>
            <% var totalScore = 0 %>
            <% } %>


            <% if (build.part_type === 4) { %>
            <tr>
                <td>
                    <%= build.part_name %>
                </td>
            </tr>
            <% } %>

            <% if (build.part_type === 5) { %>
            <tr>
                <td>
                    <%= build.part_name %>
                </td>
            </tr>
            <% } %>

            <% }); %>

        </tbody>
    </table>
</div>
<% include partials/footer %>