<!-- <%- JSON.stringify(computer_builds) %> -->

<% include partials/header %>
<div class="container">
    <h2>Computer Builds</h2>
    <table class="table table-bordered" cellspacing="10">
        <thead>
            <tr>
                <th scope="col">Build</th>
                <th scope="col">Component</th>
                <th scope="col" colspan="2">Price</th>
                <!-- <th>&nbsp;</th> -->
                <!-- <th scope="col">Speed</th> -->
            </tr>
        </thead>
        <tbody>
            <% var currentBuild = -1; %>
            <% var totalScore = 0 %>
            <% computer_builds.forEach((build) => { %>
            <% if (currentBuild != build.build_id) { %>
            <tr>
                <th rowspan="3">
                    <%= build.build_name %>
                </th>
                <% if (build.part_type === 1) { %>
                <td>
                    <%= build.part_name %>
                </td>
                <% } %>
                <th>
                    <%= build.build_price %>
                </th>
                <td>
                    <input class="single-checkbox" type="checkbox" name="vehicle" value="<%= build.build_id %>"> Choose to compare
                </td>
            </tr>
            <% currentBuild = build.build_id %>
            <% var totalScore = 0 %>
            <% } %>


            <% if (build.part_type === 4) { %>
            <tr>
                <td>
                    <%= build.part_name %>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <% } %>

            <% if (build.part_type === 5) { %>
            <tr>
                <td>
                    <%= build.part_name %>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <% } %>

            <% }); %>

        </tbody>
    </table>
</div>
<script>
    var limit = 2;
    $('input.single-checkbox').on('click', function (evt) {
        if ($('.single-checkbox:checked').length > limit) {
            this.checked = false;
        }
    });
</script>
<% include partials/footer %>