<% include partials/header %>

<% try { %>
<% console.log(part_data) %>
<% var foobar = [0,0,0,0,0,0,0,0,0]; %>
<% var sumPrice = 0 %>
<% var sumScore = 0 %>
<% part_data.forEach( function(eachPart) { %>
<% foobar[eachPart.part_type - 1] = 1 %>
<% sumPrice += Number(eachPart.part_price) %>
<% sumScore += Number(eachPart.part_score) %>
<% }) %>
<%  //console.log(foobar) %>
<% //console.log(part_data.find(x => x.part_type == 2)) %>
<div class="container">
    <h2>Let's Build Computer<span style="float:right;"><form action="/resetAllCookie" method="POST"><button type="submit" class="btn btn-danger">Reset All</button></form></span></h2>
    <form class="form-group" action="/addbuild" method="POST">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Part</th>
                    <th scope="col">Selection</th>
                    <th scope="col">Price</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CPU</td>
                    <% if (foobar[0]) { %>
                    <% cpuData =  part_data.find(x => x.part_type == 1) %>
                    <th scope="row">
                        <%= cpuData.part_name %>
                        <input type="hidden" name="1" value="<%= cpuData.part_id %>">
                    </th>
                    <td>
                        <%= cpuData.part_price + " Baht"%>
                    </td>
                    <td><a href="/product/cpu" class="btn btn-warning">Change</a></td>
                    <% } else { %>
                    <td><a href="/product/cpu" class="btn btn-primary">Choose A CPU</a></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <% } %>
                </tr>
                <tr>
                    <td>CPU Cooler</td>
                    <% if (foobar[1]) { %>
                    <% cpucoolerData =  part_data.find(x => x.part_type == 2) %>
                    <th scope="row">
                        <%= cpucoolerData.part_name %>
                        <input type="hidden" name="2" value="<%= cpucoolerData.part_id %>">
                    </th>
                    <td>
                        <%= cpucoolerData.part_price + " Baht"%>
                    </td>
                    <td><a href="/product/cpu-cooler" class="btn btn-warning">Change</a></td>
                    <% } else { %>
                    <td><a href="/product/cpu-cooler" class="btn btn-primary">Coose A CPU Cooler</a></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <% } %>
                </tr>
                <tr>
                    <td>Motherboard</td>
                    <% if (foobar[2]) { %>
                    <% motherData =  part_data.find(x => x.part_type == 3) %>
                    <th scope="row">
                        <%= motherData.part_name %>
                        <input type="hidden" name="3" value="<%= motherData.part_id %>">
                    </th>
                    <td>
                        <%= motherData.part_price + " Baht"%>
                    </td>
                    <td><a href="/product/motherboard" class="btn btn-warning">Change</a></td>
                    <% } else { %>
                    <td><a href="/product/motherboard" class="btn btn-primary">Choose A Motherboard</a></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <% } %>
                </tr>
                <tr>
                    <td>Memory</td>
                    <% if (foobar[3]) { %>
                    <% ramData =  part_data.find(x => x.part_type == 4) %>
                    <th scope="row">
                        <%= ramData.part_name %>
                        <input type="hidden" name="4" value="<%= ramData.part_id %>">
                    </th>
                    <td>
                        <%= ramData.part_price + " Baht"%>
                    </td>
                    <td><a href="/product/ram" class="btn btn-warning">Change<a></td>
                    <% } else { %>
                    <td><a href="/product/ram" class="btn btn-primary">Choose Memory<a></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <% } %>
                </tr>
                <tr>
                    <td>Video Card</td>
                    <% if (foobar[4]) { %>
                    <% gpuData =  part_data.find(x => x.part_type == 5) %>
                    <th scope="row">
                        <%= gpuData.part_name %>
                        <input type="hidden" name="5" value="<%= gpuData.part_id %>">
                    </th>
                    <td>
                        <%= gpuData.part_price + " Baht"%>
                    </td>
                    <td><a href="/product/gpu" class="btn btn-warning">Change</a></td>
                    <% } else { %>
                    <td><a href="/product/gpu" class="btn btn-primary">Choose A Video Card</a></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <% } %>

                </tr>
                <tr>
                    <td>Storage</td>
                    <% if (foobar[5]) { %>
                    <% storageData =  part_data.find(x => x.part_type == 6) %>
                    <th scope="row">
                        <%= storageData.part_name %>
                        <input type="hidden" name="6" value="<%= storageData.part_id %>">
                    </th>
                    <td>
                        <%= storageData.part_price + " Baht"%>
                    </td>
                    <td><a href="/product/storage" class="btn btn-warning">Change</a></td>
                    <% } else { %>
                    <td><a href="/product/storage" class="btn btn-primary">Choose Storage</a></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <% } %>

                </tr>
                <tr>
                    <td>Power Supply</td>
                    <% if (foobar[6]) { %>
                    <% psuData =  part_data.find(x => x.part_type == 7) %>
                    <th scope="row">
                        <input type="hidden" name="7" value="<%= psuData.part_id %>">
                        <%= psuData.part_name %>
                    </th>
                    <td>
                        <%= psuData.part_price + " Baht"%>
                    </td>
                    <td><a href="/product/psu" class="btn btn-warning">Change</a></td>
                    <% } else { %>
                    <td><a href="/product/psu" class="btn btn-primary">Choose A Power Supply</a></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <% } %>
                </tr>
                <tr>
                    <td>Case</td>
                    <% if (foobar[7]) { %>
                    <% caseData =  part_data.find(x => x.part_type == 8) %>
                    <th scope="row">
                        <input type="hidden" name="8" value="<%= caseData.part_id %>">
                        <%= caseData.part_name %>

                    </th>
                    <td>
                        <%= caseData.part_price + " Baht"%>
                    </td>
                    <td><a href="/product/case" class="btn btn-warning">Change</a></td>
                    <% } else { %>
                    <td><a href="/product/case" class="btn btn-primary">Choose A Case</a></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <% } %>
                </tr>
                <tr>
                    <td>Moniter</td>
                    <% if (foobar[8]) { %>
                    <% displayData =  part_data.find(x => x.part_type == 9) %>
                    <th scope="row">
                        <input type="hidden" name="9" value="<%= displayData.part_id %>">
                        <%= displayData.part_name %>
                    </th>
                    <td>
                        <%= displayData.part_price + " Baht"%>
                    </td>
                    <td><a href="/product/display" class="btn btn-warning">Change</a></td>
                    <% } else { %>
                    <td><a href="/product/display" class="btn btn-primary">Choose A Moniter</a></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <% } %>

                </tr>
                <tr class="success">
                    <td colspan="2">Sum Price</td>
                    <td>
                        <input type="hidden" name="build_price" value="<%= sumPrice %>">
                        <input type="hidden" name="build_score" value="<%= sumScore %>">
                        <%= sumPrice  + " Baht"%>

                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <label for="exampleInputName2">Build Name: </label>
        <input type="text" class="form-control" id="exampleInputName2" name="build_name" placeholder="Red Three Speed"
            required>
        <button class="btn btn-primary" type="submit" value="save">Save Build</button>
    </form>
</div>
<% } catch (e) { %>
<% if (e instanceof ReferenceError) { %>
<div class="container">
    <h2>Let's Build Computer</h2>
    <table class="table">
        <tbody>
            <tr>
                <th scope="col">Part</th>
                <th scope="col">Selection</th>
                <th scope="col">Price</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td>CPU</td>
                <td><a href="/product/cpu" class="btn btn-primary">Choose A CPU</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>CPU Cooler</td>
                <td><a href="/product/cpu-cooler" class="btn btn-primary">Coose A CPU Cooler</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Motherboard</td>
                <td><a href="/product/motherboard" class="btn btn-primary">Choose A Motherboard</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Memory</td>
                <td><a href="/product/ram" class="btn btn-primary">Choose Memory<a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>

                <td>Video Card</td>
                <td><a href="/product/gpu" class="btn btn-primary">Choose A Video Card</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Storage</td>
                <td><a href="/product/storage" class="btn btn-primary">Choose Storage</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Case</td>
                <td><a href="/product/case" class="btn btn-primary">Choose A Case</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Power Supply</td>
                <td><a href="/product/psu" class="btn btn-primary">Choose A Power Supply</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Moniter</td>
                <td><a href="/product/display" class="btn btn-primary">Choose A Moniter</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<% } %>
<% } %>

<% include partials/footer %>